/* Base Application Styles */
html {
  height: 100%;
}

body {
  color: #2a2a2a;
  background: #fff;
  height: 100%;
}

#app {
  height: 100%;
}

.index {
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

.splash {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main {
  z-index: 500;
  position: relative;
}

.main-enter, .main-appear {
  right: -100%;
}

.main-enter.main-enter-active, .main-appear.main-appear-active {
  right: 0;
  transition: right 500ms ease-in;
}

.main-leave {
  right: 0;
}

.main-leave.main-leave-active {
  right: -100%;
  transition: right 300ms ease-in;
}

